# =========================
# Shared Server Address
# =========================
SERVER_ADDRESS=<SERVER_IP_OR_DOMAIN>


# =========================
# Database Config (MSSQL)
# =========================
DB_HOST=${SERVER_ADDRESS}
DB_PORT=1433
DB_USER=sa
DB_PASS=<DB_PASSWORD>
DB_DIALECT=mssql
DB_NAME_TEST=Ariakish
DB_NAME_DEVELOPMENT=Ariakish
DB_NAME_PRODUCTION=Ariakish
DB_AUTO_LOAD_MODELS=true
DB_SYNCHRONIZE=false
DB_TIMEZONE=fa-IR
DB_LOG=false


# =========================
# Authentication & Server
# =========================
JWT_SECRET=<JWT_SECRET>
TOKEN_EXPIRATION=48h
BEARER=Bearer
HOST_PORT=3000
HOST_NAME=0.0.0.0
CLUSTER_COUNT=1


# =========================
# Site Settings
# =========================
PROJECT_NAME="Zootag"
SITE_NAME="jahizan"
LOGO_PATH="/theme/discountcoffe/assets/img/png/logo.svg"
TEMP_ATTACHMENT="/tmp/attachmentFile"
PROFILE_PATH_ATTACHMENT="/profile/big"
PROFILE_PATH_THUMB_ATTACHMENT="/profile/thumb"
SESSION_KEY=<SESSION_SECRET>
QR_PATH="/qrcode"


# =========================
# Throttler Config
# =========================
THROTTLER_SHORT_LIMIT=40
THROTTLER_MEDIUM_LIMIT=200
THROTTLER_LONG_LIMIT=500


# =========================
# Redis Config
# =========================
REDIS_ADDRESS=${SERVER_ADDRESS}
REDIS_PORT=6379
REDIS_PASSWORD=<REDIS_PASSWORD>


# =========================
# MinIO Config
# =========================
MINIO_ENDPOINT=${SERVER_ADDRESS}
MINIO_PORT=443
MINIO_SSL=true
MINIO_ACCESS_KEY=<MINIO_ACCESS_KEY>
MINIO_SECRET_KEY=<MINIO_SECRET_KEY>


# =========================
# Ecommerce
# =========================
BASE_URL="<REAL_BACKEND_URL>"
BASE_FRONT_URL="<REAL_FRONTEND_URL>"


# =========================
# SMS
# =========================
SMS_USERNAME=<SMS_USERNAME>
SMS_PASSWORD=<SMS_PASSWORD>